;http://dev.mysql.com/doc/refman/5.5/en/option-files.html

[client]
port = 3306
default-character-set=utf8

[mysql]
prompt=(\\u@\\h) [\\d]>\\_

[mysqld]
port = 3306

#Security
bind-address = 127.0.0.1

#Divers
sql-mode="STRICT_ALL_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,NO_ENGINE_SUBSTITUTION"
default-storage-engine=InnoDB

#Analyse des requetes
slow-query-log=1
long-query-time=1
log-queries-not-using-indexes=1
log-slow-verbosity=full
min-examined-row-limit=500

#utf-8
character-set-filesystem=binary
character-set-server=utf8
collation-server=utf8_general_ci

#log
log_error=/var/log/mysql/mysql.err